<div id="headerSerie" ng-app="PolaflixApp" ng-controller="TempSerieController as ctrl">
	<p ass="errormsg" ng-hide="serieLoaded">No se encontró la serie o la temporada...</p>
	<div ng-show="serieLoaded">
		<div class="serieInfo">
			<a href="" class="boton" ng-click="ctrl.changeTempClicked(2)"><i class="material-icons">chevron_left</i></a><i id="tituloSerie">{{serie.nombre}}</i><span>|</span> Temporada <i id="numTemp">{{tempActiva.numTemp}}</i><a href="" class="boton" ng-click="ctrl.changeTempClicked(1)"><i class="material-icons">chevron_right</i></a>
			<span class="tipoSerie">{{serie.tipo.nombre}}</span>
		</div>
		<table id="listaCapitulos">
			<tr ng-repeat="cap in tempActiva.capitulos">
				<td><div class="serieColumn">{{cap.titulo}}</div></td> <td><a href="" class="boton" ng-click="ctrl.seeCap(serie.id,tempActiva.numTemp,cap.numCap)"><i class="material-icons">add</i></a></td>
			</tr>
		</table>
	</div>
</div>