#headerSerie {
	text-align: center;
}
i {
	font-size: 100%;
	vertical-align: bottom;
}

span {
	margin-left: 1em;
	margin-right: 1em;
}

table#listaCapitulos {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	margin-left: 5%;
	border-style: solid;
	border-width: 0.15em;
	border-color: black;
}

#listaCapitulos th {
	background-color: #71C671;
}

tr {
	margin: 10em;
	background-color: lightgreen;
}

div.serieColumn {
	width: 50em;
}

a.boton {
	color: black;
}

a.boton:hover {
	color: darkgreen;
}

td.boton {
	color: black;
	cursor = hand;
}

td.boton:hover {
	color: darkgreen;
	cursor = hand;
}

td.boton:hover p {
	color = black;
	cursor = hand;
}

div.rectangle {
	display: table;
	margin: 0 auto;
	width:600px;
    height:300px;
    background:black;
}

h4 {
	text-align: center;
}

.descripcion {
	color: black;
	font-style: oblique;
	color: indigo;
}

span.tipoSerie {
	float: right;
	margin-right: 10%;
	border-radius: 50%;
	text-align: center;
	width: 6em;
    height: 2em;
    padding: 7px;
}

span.tipoSerie.Gold {
	background-color: gold;
}

span.tipoSerie.Estandar {
	background-color: darkgreen;
}

span.tipoSerie.Silver {
	background-color: silver;
}

div.serieInfo {
	margin-left: 15%;
	margin-bottom: 2em;
}

#busqueda {
	float:right;
}

a.selected {
	color: red;
}

span.visto {
	float: right;
	color: blue;
}
