<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="estiloComunPolaflix.css"/>
	<link rel="stylesheet" href="estiloPersonal.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="tablaSeriesApp.js"></script> <!-- Controlador de la tabla de las series -->
	<title>Bienvenido a Polaflix</title>
</head>
<body>
	<div id="cabezera">
		<div id="divLogo">
			<img id="imgPolaflix" class="fotoCabezera" src="https://www.spreadshirt.es/image-server/v1/designs/15163340,width=178,height=178/letra-p-en-el-look-grunge.png" alt="Polaflix"/>
			<h2>olaflix</h2>
		</div>
		<h1>Bienvenido Usuario</h1>
		<div id="divPerfil"><img id="fotoUsuario" class="fotoCabezera" src="http://powerforum.newanglemedia.com/2013/themes/intellisystems/site/img/icons/user/default-profile.png" alt="FotoUsuario"\></div>
	</div>

	<div id="menuSuperior">
		<a href="">Inicio</a>  |  <a href="">Agregar serie</a>  |  <a href="">Ver cargos</a>
	</div>

	<!-- Contenido propio de la página a partir de aqui -->
	<div id="contenido" ng-app="TablaSeriesApp" ng-controller="TablaSeriesController as ctrl">
		<h3>Empezadas</h3>
		<div class="listaItems">
			<div ng-repeat="serie in seriesEmpezadas" ng-show="dataLoadedEmpezadas">
				<a href="http://localhost:8000/paginaSerie.html?id={{serie.id}}">{{serie.nombre}}</a><br/>
			</div>
			<p class="errormsg" ng-hide="dataLoadedEmpezadas">No se pudieron cargar las series empezadas...</p>
		</div>
		<h3>Pendientes</h3>
		<div class="listaItems">
			<div ng-repeat="serie in seriesPendientes" ng-show="dataLoadedPendientes">
				<a href="http://localhost:8000/paginaSerie.html?id={{serie.id}}">{{serie.nombre}}</a><br/>
			</div>
			<p class="errormsg" ng-hide="dataLoadedPendientes">No se pudieron cargar las series pendientes...</p>
		</div>
		<h3>Terminadas</h3>
		<div class="listaItems" ng-show="dataLoadedTerminadas">
			<div ng-repeat="serie in seriesTerminadas">
				<a href="http://localhost:8000/paginaSerie.html?id={{serie.id}}">{{serie.nombre}}</a><br/>
			</div>
			<p class="errormsg" ng-hide="dataLoadedTerminadas">No se pudieron cargar las series terminadas...</p>
		</div>
	</div>

	<div class="publicidad">
		<img src="http://2.bp.blogspot.com/_M4VxoRyjUmw/TRzsnEz9_LI/AAAAAAAAAGE/o6vDmfIoitI/s1600/BANNERvisit+copia.jpg" alt="Banner publicitario"/>
	</div>
</body>
</html>